* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.section {
  background-color: #eee;
  padding: 15px 10px;
}
#i {
  color: rgb(158, 158, 158);
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  font-size: 15px;
}
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.right {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.hero__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 40px 0;
  position: relative;
  z-index: 1;
}
h4 {
  font-weight: 200;
}
.search__wrapper {
  display: flex;
  align-items: center;
}
.input-container {
  position: relative;
  width: fit-content;
}
.input-container input {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 8px 4px;
  outline: none;
  font-size: 14px;
  width: 200px;
  background-color: transparent;
}
.input-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: purple;
  transition: width 0.3s ease;
}
.input-container input:focus + ::after,
.input-container:focus-within::after {
  width: 100%;
}
#except {
  background-color: transparent;
  color: black;
  font-size: 15px;
}

.notification-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.notification-count {
  position: absolute;
  top: -6px;
  right: -8px;
  background-color: rgb(255, 47, 47);
  color: white;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
}
.notification__details {
  background-color: #ffffff;
  color: #333;
  padding: 14px 12px;
  margin-top: 75%;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 1.5;
  max-width: 320px;
  z-index: 1;
  position: absolute;
  width: 100%;
}

.notification__item {
  padding: 10px 20px;
  border-radius: 8px;
}
.notification__item:hover {
  background-color: #97007e;
  color: #ffff;
  cursor: pointer;
}
#try__me{
    border: none;
    padding: 6px 18px;
    color: white;
    font-size: 12px;
}
#sample__wrapper{
    background-color: white;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
#container__wrapper{
    margin: auto;
    width: 95%;
}
.modal__button{
    width: 200px;
    margin: 0 10px;
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  max-width: 90%;
}
.modal__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button__wrapper{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100px;
    padding: 8px 15px;
    margin: auto;
    cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-Content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.check-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.check-Icon {
  background-color: #34c759;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scale-up 0.5s ease-in-out;
}

.check-Icon #check {
  font-size: 24px;
  color: #fff;
}
#warn{
    font-size: 60px;
    color: #FFC107;
    font-weight: 300;
}

.modal-Header {
  font-size: 24px;
  font-weight: bold;
}
#input__details{
    outline: none;
    border: none;
    box-shadow: 0 1px 0 0 black;
    margin: 12px;
    font-size: 13px;
    width: 250px;
}
.modal-Message {
  font-size: 14px;
  color: #666;
  padding: 10px 0;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
}
.contact__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .toggleSideBar{
    display: none;
  }
  .right{
    display: none;
  }
}



